body {
  background-color:white;
  color: black;
  height: 100%;
  width: 100%;
}

#post {
  border:1px solid #000;
  width:300px;height:300px;
  background:transparent;
  margin:0 auto;
  display:inline-block;
  position:relative;
  z-index:11;
}

#canvas {
  width:220px;height:250px;
  background:transparent;
  margin:0 auto;display:inline-block;
  position:relative;
  padding-left:20px;
}

#head {
  background-color:#6699ff;
  width:200px;
  height:200px;
  border-radius: 100px;   
  margin: 0 auto;
  position:absolute;
  z-index:10;
}

#eye1 {
  background-color:#ffcc66;
  width:70px;
  height:70px;
  border-radius: 100px; 
  margin-top:55px;
  margin-left:40px;
  z-index:-1;
  box-shadow: -5px -10px #ff9966;
}

#eye2 {
   background-color:#ffcc66;
   width:70px;
   height:70px;
   border-radius: 100px; 
   margin-top:-70px;
   margin-left:92px;
   z-index:-1;
   box-shadow: 5px -10px #ff9966;
}

#solidbar1 {position:absolute;
  background-color:#ffcc66;
  width:70px;
  height:50px;
  margin-top:-60px;
  margin-left:65px;
  z-index:1;
}

#dot1{position:absolute;
  background-color:#666699;
  width:30px;
  height:30px;
  border-radius: 100px; 
  margin-top:30px;
  margin-left:20px;
  z-index:2;
}

#dot2{position:absolute;
  background-color:#666699;
  width:30px;
  height:30px;
  border-radius: 100px; 
  margin-top:30px;
  margin-left:20px;
  z-index:2;
}

#solidbar2{position:absolute;
  background-color:#ffcc66;
  width:15px;
  height:15px;

  margin-top:-50px;
  margin-left:60px;
  z-index:3;
  -ms-transform: rotate(20deg); 
  -webkit-transform: rotate(20deg); 
  transform: rotate(20deg);
}
#solidbar3{position:absolute;
  background-color:#ffcc66;
  width:15px;
  height:15px;
  margin-top:-50px;
  margin-left:125px;
  z-index:3;
  -ms-transform: rotate(-20deg); 
  -webkit-transform: rotate(-20deg); 
  transform: rotate(-20deg);
}

#mouth{
  background-color:#666699;
  width:40px;
  height:30px;
  border-radius: 16px; 
  margin-top:20px;
  margin-left:80px;
  z-index:1;
}

#whitepart {
  background-color:#ddd;
   width:40px;
   height:14px;
  border-radius: 2px; 
  margin-top:0px;
  margin-left:0px;
  z-index:2;
}

#ear1 {position:absolute;
  background-color:#6699ff;
  width:10px;
  height:100px;
  border-radius: 0px; 
  -ms-transform: rotate(-20deg); 
  -webkit-transform: rotate(-20deg); 
  transform: rotate(-20deg);
  margin-top:-150px;
  margin-left:20px;
}
#ear2 {position:absolute;
  background-color:#6699ff;
  width:10px;
  height:100px;
  border-radius: 0px; 
  -ms-transform: rotate(20deg); 
  -webkit-transform: rotate(20deg); 
  transform: rotate(20deg);
  margin-top:-150px;
  margin-left:170px;
}

#dot3 {position:absolute;
  background-color:#ff9966;
  width:30px;
  height:30px;
  border-radius: 30px; 
  -ms-transform: rotate(20deg); 
  -webkit-transform: rotate(20deg); 
  transform: rotate(20deg);
  margin-top:-170px;
  margin-left:-15px;
}

#dot4 {
  position:absolute;
  background-color:#ff9966;
  width:30px;
  height:30px;
  border-radius: 30px; 
  -ms-transform: rotate(20deg); 
  -webkit-transform: rotate(20deg); 
  transform: rotate(20deg);
  margin-top:-170px;
  margin-left:185px;
}

#shinecanvas{
  position: absolute;
   width:60px;
  height:60px;
  margin-left:110px;
  margin-top:10px;
   -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg); 
  transform: rotate(25deg);
}

#shine {
  position: absolute;
  background-color:#99ccff;
  width:40px;
  height:40px;
  border-radius: 40px;
  -ms-transform: scaleY(0.5); 
  -webkit-transform: scaleY(0.5); 
  transform: scaleY(0.5);
 
}

#floating {
  position: absolute;
  background-color:#336699;
  width:120px;
  height:120px;
  margin-top:170px;
  margin-left:40px;
  border-radius: 100px;
  -ms-transform: scaleY(0.3); 
  -webkit-transform: scaleY(0.3); 
  transform: scaleY(0.3);
  z-index:-10;
}


#canvas2 {
  width:220px;height:250px;
  background:transparent;
  margin:0 auto;display:inline-block;
  position:relative;
  padding-left:20px;
}

#ginnyhead {
  background: linear-gradient(to bottom, #ffcc99 0%, #ff9999 100%);
  width:160px;
  height:200px;
  border-radius: 80px;   
  margin: 0 auto;
  position:absolute;
  z-index:1;
}

#ginnyeye1 {
  background:#fff;
  width:40px;
  height:30px;
  border-radius: 100px;
  position:absolute;
  margin-top:80px;
  margin-left:30px;
}
#ginnyeye2 {
  background:#fff;
  width:40px;
  height:30px;
  border-radius: 100px;
  position:absolute;
  margin-top:80px;
  margin-left:90px;
}

#ginnylid1 {
  background: linear-gradient(to bottom, #ffcc99 -60%, #ff9999 180%);
  width:45px;
  height:35px;
  border-radius: 0px;
  position:absolute;
  margin-top:60px;
  margin-left:26px;
  -ms-transform: rotate(-8deg); 
  -webkit-transform: rotate(-8deg); 
  transform: rotate(-8deg);
  z-index:1;
}

#ginnylid2 {
   background: linear-gradient(to bottom, #ffcc99 -60%, #ff9999 180%);
  width:45px;
  height:35px;
  border-radius: 0px;
  position:absolute;
  margin-top:60px;
  margin-left:90px;
  -ms-transform: rotate(8deg); 
  -webkit-transform: rotate(8deg); 
  transform: rotate(8deg);
  z-index:1;
}

#ginnypupil1 {
  background: #BC8F8F;
  width:10px;
  height:10px;
  border-radius: 10px;
  position:absolute;
  margin-top:95px;
  margin-left:50px;
  
}
#ginnypupil2 {
  background: #BC8F8F;
  width:10px;
  height:10px;
  border-radius: 10px;
  position:absolute;
  margin-top:95px;
  margin-left:100px;
  
}

#ginnybrow1 {
  background: #BC8F8F;
  width:50px;
  height:10px;
  border-radius: 10px;
  position:absolute;
  margin-top:70px;
  margin-left:25px;
   -ms-transform: rotate(-10deg); 
  -webkit-transform: rotate(-10deg); 
  transform: rotate(-10deg);
  z-index:2;
}
#ginnybrow2 {
  background: #BC8F8F;
  width:50px;
  height:10px;
  border-radius: 10px;
  position:absolute;
  margin-top:70px;
  margin-left:85px;
   -ms-transform: rotate(10deg); 
  -webkit-transform: rotate(10deg); 
  transform: rotate(10deg);
  z-index:2;
}
#ginnybrow3 {
  background: #BC8F8F;
  width:10px;
  height:10px;
  border-radius: 10px;
  position:absolute;
  margin-top:65px;
  margin-left:65px;
  z-index:3;
}
#ginnybrow4 {
  background: #BC8F8F;
  width:10px;
  height:10px;
  border-radius: 10px;
  position:absolute;
  margin-top:65px;
  margin-left:85px;
  z-index:3;
}

#ginnymouth {
  background:#CD5C5C;
  width:50px;
  height:50px;
  border-radius: 100px;
  position:absolute;
  margin-top:125px;
  margin-left:55px;
}

#ginnymouthcover {
  background: linear-gradient(to bottom, #ffcc99 -150%, #ff9999 140%);
  width:50px;
  height:30px;
  border-radius: 0px;
  position:absolute;
  margin-top:120px;
  margin-left:55px;
}

#ginnytongue{
  background:#F08080;
  width:20px;
  height:20px;
  border-radius: 50px;
  position:absolute;
  margin-top:160px;
  margin-left:70px;
  -ms-transform: scaleX(1.6); 
  -webkit-transform: scaleX(1.6); 
  transform: scaleX(1.6);
  border-radius: 20px 20px 20px 20px;
}

#ginnytonguecover {
  background: linear-gradient(to bottom, #ffcc99 -230%, #ff9999 80%);
  width:50px;
  height:20px;
  border-radius: 0px;
  position:absolute;
  margin-top:170px;
  margin-left:55px;
}

#ginnytooth1{
  background:#fff;
  width:8px;
  height:5px;
  border-radius: 0px 0px 10px 10px;
  position:absolute;
  margin-top:150px;
  margin-left:72px;
}

#ginnytooth2{
  background:#fff;
  width:8px;
  height:5px;
  border-radius: 0px 0px 10px 10px;
  position:absolute;
  margin-top:150px;
  margin-left:84px;
}

#ginnynose {
  background: linear-gradient(to top, #ffcc99 -0%, #ff9999 100%);
  width:20px;
  height:20px;
  border-radius: 100px;
  position:absolute;
  margin-top:118px;
  margin-left:70px;
}
#ginnynose1 {
  background: linear-gradient(to top, #ffcc99 -0%, #ff9999 100%);
  width:10px;
  height:10px;
  border-radius: 100px;
  position:absolute;
  margin-top:125px;
  margin-left:65px;
}

#ginnynose2 {
  background: linear-gradient(to top, #ffcc99 -0%, #ff9999 100%);
  width:10px;
  height:10px;
  border-radius: 100px;
  position:absolute;
  margin-top:125px;
  margin-left:85px;
}
#ginnynose3 {
  background: linear-gradient(to bottom, #ffcc99 0%, #ff9999 130%);
  width:13px;
  height:13px;
  border-radius: 100px;
  position:absolute;
  margin-top:120px;
  margin-left:73px;
  z-index:2;
}
#ginnynose4 {
  background: linear-gradient(to top, #ffcc99 -0%, #ff9999 100%);
  border-top:2px solid #BC8F8F;
  width:10px;
  height:30px;
  border-radius: 100px;
  position:absolute;
  margin-top:105px;
  margin-left:75px;
  z-index:1;
}

#ginnyglasses1 {border:1px solid #BC8F8F;
  background:#BC8F8F;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width:50px;
  height:30px;
  border-radius: 15px;
  position:absolute;
  margin-top:88px;
  margin-left:23px;
  z-index:2;
}

#ginnyglasses2 {border:1px solid #BC8F8F;
  background:#BC8F8F;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width:50px;
  height:30px;
  border-radius: 15px;
  position:absolute;
  margin-top:88px;
  margin-left:85px;
  z-index:2;
}

#ginnyglasses3 {
  background:#BC8F8F;
  -ms-transform: rotate(-60deg); 
  -webkit-transform: rotate(-60deg); 
  transform: rotate(-60deg);
  width:3px;
  height:30px;
  border-radius: 15px;
  position:absolute;
  margin-top:73px;
  margin-left:11px;
  z-index:2;
}

#ginnyglasses4 {background:#BC8F8F;
  -ms-transform: rotate(60deg); 
  -webkit-transform: rotate(60deg); 
  transform: rotate(60deg);
  width:3px;
  height:30px;
  border-radius: 15px;
  position:absolute;
  margin-top:73px;
  margin-left:146px;
  z-index:2;
}

#ginnynostril1 {
  background:#BC8F8F;
  width:4px;
  height:4px;
  border-radius: 4px;
  position:absolute;
  margin-top:132px;
  margin-left:70px;
}
#ginnynostril2 {
  background:#BC8F8F;
  width:4px;
  height:4px;
  border-radius: 4px;
  position:absolute;
  margin-top:132px;
  margin-left:86px;
}

#ginnycheek1 {
  background: linear-gradient(to bottom, #ffcc99 -80%, #ff9999 80%);
  width:50px;
  height:50px;
  border-radius: 30px;
  position:absolute;
  margin-top:113px;
  margin-left:10px;
  
}

#ginnycheek2 {
  background: linear-gradient(to bottom, #ffcc99 -80%, #ff9999 80%);
  width:50px;
  height:50px;
  border-radius: 30px;
  position:absolute;
  margin-top:113px;
  margin-left:100px;
}
#ginnychin {
  background: linear-gradient(to top, #ffcc99 -50%, #ff9999 50%);
  width:60px;
  height:60px;
  border-radius: 100px;
  position:absolute;
  margin-top:160px;
  margin-left:50px;
  z-index:2;
  -ms-transform: scaleX(2); 
  -webkit-transform: scaleX(2); 
  transform: scaleX(2);
  -ms-transform: scaleY(0.5); 
  -webkit-transform: scaleY(0.5); 
  transform: scaleY(0.5);
}
#ginnyear1 {
  background: linear-gradient(to top, #ffcc99 -0%, #ff9999 100%);
  width:30px;
  height:30px;
  border-radius: 100px;
  position:absolute;
  margin-top:80px;
  margin-left:-10px;
  z-index:-1;
}
#ginnyear2 {
  background: linear-gradient(to top, #ffcc99 -0%, #ff9999 100%);
  width:30px;
  height:30px;
  border-radius: 100px;
  position:absolute;
  margin-top:80px;
  margin-left:140px;
  z-index:-1;
}

#ginnyhair{
  background:#BC8F8F;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width:160px;
  height:200px;
  border-radius: 80px;   
  position:absolute;
  z-index:1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
}
#ginnyhair1{
  background: linear-gradient(to top, #ffcc99 -60%, #ff9999 180%);
  width:60px;
  height:60px;
  border-radius: 80px;   
  margin-top:15px;
  margin-left:10px;
  position:absolute;
  z-index:2;
   -ms-transform: scaleX(2); 
  -webkit-transform: scaleX(2); 
  transform: scaleX(2);
  -ms-transform: scaleY(0.5); 
  -webkit-transform: scaleY(0.5); 
  transform: scaleY(0.5);
}

#ginnyhair2{
  background: linear-gradient(to top, #ffcc99 -60%, #ff9999 180%);
  width:60px;
  height:60px;
  border-radius: 80px;   
  margin-top:15px;
  margin-left:90px;
  position:absolute;
  z-index:2;
   -ms-transform: scaleX(2); 
  -webkit-transform: scaleX(2); 
  transform: scaleX(2);
  -ms-transform: scaleY(0.5); 
  -webkit-transform: scaleY(0.5); 
  transform: scaleY(0.5);
}

#ginnyhair3{
  background:#BC8F8F;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width:24px;
  height:23px;
  border-radius: 80px;   
  margin-left:68px;
  margin-top:28px;
  position:absolute;
  z-index:2;
  -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 100%, 0 100%);
  clip-path: polygon(0 52%, 100% 52%, 100% 100%, 0 100%);
}


#canvas3 {
  display:inline-block;
  width:200px;
  height:250px;
  position:relative;
  z-index:1;
  
}

#painyhead {
  background: linear-gradient(to bottom, #ffcc99 0%, #ff9999 100%);
  width:170px;
  height:200px;
  border-radius: 80px;   
  position:absolute;
  z-index:1;
  
}
#painyeye1 {
  background: #eee;
  border-radius:30px;  
  width:32px;
  height:30px;
  margin-top:80px;
  margin-left:38px;
  position:absolute;
  z-index:1; 
  border-top:3px solid #555;
  border-bottom:2px solid #555;
  -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
  -ms-transform: skew(10deg); 
  -webkit-transform: skew(10deg); 
  transform: skew(10deg); 
}
#painyeye2 {
   background: #eee;
  border-radius:30px;  
  width:32px;
  height:30px;
  margin-top:80px;
  margin-left:105px;
  position:absolute;
  z-index:1; 
  border-top:3px solid #555;
  border-bottom:2px solid #555;
  -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
  -ms-transform: skew(-10deg); 
  -webkit-transform: skew(-10deg); 
  transform: skew(-10deg); 
}

#painyeye3 {
  background: transparent;
  -webkit-border-radius: 40px 40px 0px 0px;
  -moz-border-radius: 40px 40px 0px 0px;
  border-radius: 40px 40px 0px 0px;
  -khtml-border-radius: 40px 40px 0px 0px;
  width:35px;
  height:40px;
  margin-top:78px;
  margin-left:33px;
  position:absolute;
  z-index:0; 
 border-top:3px solid #444;
 
}

#painyeye4 {
 background: transparent;
   -webkit-border-radius: 40px 40px 0px 0px;
    -moz-border-radius: 40px 40px 0px 0px;
    border-radius: 40px 40px 0px 0px;
    -khtml-border-radius: 40px 40px 0px 0px;
  width:35px;
  height:40px;
  margin-top:78px;
  margin-left:107px;
  position:absolute;
  z-index:0; 
 border-top:3px solid #444;
  
}

#painypupil1 {
  background: #333;
  border-radius:30px;  
  width:22px;
  height:24px;
  margin-top:85px;
  margin-left:43px;
  position:absolute;
  z-index:1; 
   -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
}

#painypupil2 {
  background: #333;
  border-radius:30px;  
  width:22px;
  height:24px;
  margin-top:85px;
  margin-left:110px;
  position:absolute;
  z-index:1; 
   -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
}

#painypupil3 {
  background: #fff;
  border-radius:30px;  
  width:8px;
  height:8px;
  margin-top:85px;
  margin-left:45px;
  position:absolute;
  z-index:2; 
   -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
}

#painypupil4 {
  background: #fff;
  border-radius:30px;  
  width:8px;
  height:8px;
  margin-top:85px;
  margin-left:113px;
  position:absolute;
  z-index:2; 
   -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
}

#painypupil5 {
  background: #CD853F;
  border-radius:12px;  
  width:12px;
  height:12px;
  margin-top:90px;
  margin-left:47px;
  position:absolute;
  z-index:1; 
   -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);


}

#painypupil6 {
  background: #CD853F;
  border-radius:12px;  
  width:12px;
  height:12px;
  margin-top:90px;
  margin-left:114px;
  position:absolute;
  z-index:1; 
   -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
}

#painypupil7 {
  background: #333;
  border-radius:12px;  
  width:12px;
  height:12px;
  margin-top:86px;
  margin-left:47px;
  position:absolute;
  z-index:1; 
   -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
}

#painypupil8 {
  background: #333;
  border-radius:12px;  
  width:12px;
  height:12px;
  margin-top:86px;
  margin-left:114px;
  position:absolute;
  z-index:1; 
   -ms-transform: scaleY(1.3); 
  -webkit-transform: scaleY(1.3); 
  transform: scaleY(1.3);
}

#painymouth1 {
 background: linear-gradient(to bottom, #ffcc99 -460%, #ff9999 330%);
  width:20px;
  height:20px;
  border-radius: 80px;   
  margin-top:128px;
  margin-left:62px;
  position:absolute;
  z-index:1;
  -ms-transform: rotate(-110deg); 
  -webkit-transform: rotate(-110deg); 
  transform: rotate(-110deg);
}
#painymouth2 {
  background: linear-gradient(to bottom, #ffcc99 -460%, #ff9999 330%);
  width:20px;
  height:20px;
  border-radius: 80px;   
  margin-top:128px;
  margin-left:93px;
  position:absolute;
  z-index:1;
  -ms-transform: rotate(-150deg); 
  -webkit-transform: rotate(-150deg); 
  transform: rotate(-150deg);
}
#painymouth3 {
  background: #F08080;
  border-radius:30px;  
  width:20px;
  height:20px;
  margin-top:140px;
  margin-left:78px;
  position:absolute;
  z-index:0; 
   -ms-transform: scaleX(1.3); 
  -webkit-transform: scaleX(1.3); 
  transform: scaleX(1.3);
}

#painymouth4 {
  background: linear-gradient(to bottom, #ffcc99 -200%, #ff9999 200%);
  width:5px;
  height:5px;
  border-radius: 80px;   
  margin-top:137px;
  margin-left:85px;
  position:absolute;
  z-index:2;
  -ms-transform: rotate(-150deg); 
  -webkit-transform: rotate(-150deg); 
  transform: rotate(-150deg);
}

#painymouth5 {
  background: transparent;
  border-top:1px solid #CD5C5C;
  -webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
  -khtml-border-radius: 7px 7px 0px 0px;
  width:26px;
  height:20px; 
  margin-top:133px;
  margin-left:75px;
  position:absolute;
  z-index:1;
  -ms-transform: rotate(-180deg); 
  -webkit-transform: rotate(-180deg); 
  transform: rotate(-180deg);
}


#painycheek1 {
  background: linear-gradient(to bottom, #ffcc99 -240%, #ff9999 90%);
  border-left:2px solid  #FA8072;
  width:40px;
  height:40px;
  border-radius: 80px;   
  margin-top:120px;
  margin-left:20px;
  position:absolute;
  z-index:1;
  -ms-transform: rotate(-180deg); 
  -webkit-transform: rotate(-180deg); 
  transform: rotate(-180deg);
}

#painycheek2 {
  background: linear-gradient(to bottom, #ffcc99 -240%, #ff9999 90%);
  border-right:2px solid  #FA8072;
  width:40px;
  height:40px;
  border-radius: 80px;   
  margin-top:120px;
  margin-left:113px;
  position:absolute;
  z-index:1;
  -ms-transform: rotate(-180deg); 
  -webkit-transform: rotate(-180deg); 
  transform: rotate(-180deg);
}

#painynose1 {
  background:transparent;
  border-right: 2px solid #F08080;
  width:7px;
  height:9px;   
  margin-top:118px;
  margin-left:86px;
  position:absolute;
  z-index:1;
  border-radius:5px;
  -ms-transform: rotate(70deg); 
  -webkit-transform: rotate(70deg); 
  transform: rotate(70deg);
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 100% 100%, 100% 0);

}

#painynose2 {
  background:#F08080;
  width:7px;
  height:9px;   
  margin-top:118px;
  margin-left:82px;
  position:absolute;
  z-index:1;
  border-radius:5px;
  -ms-transform: rotate(210deg); 
  -webkit-transform: rotate(210deg); 
  transform: rotate(210deg);
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 100% 100%, 100% 0);

}
#painynose3 {
  background:#ffdab9;
  width:5px;
  height:5px;   
  margin-top:115px;
  margin-left:87px;
  position:absolute;
  z-index:1;
  border-radius:5px;
  -ms-transform: rotate(210deg); 
  -webkit-transform: rotate(210deg); 
  transform: rotate(210deg);
   -ms-transform: scaleY(1.6); 
  -webkit-transform: scaleY(1.6); 
  transform: scaleY(1.6);

}

#painychin {
  background: transparent;
  border-left:2px solid  #FA8072;
  width:60px;
  height:60px;
  border-radius: 80px;   
  margin-top:135px;
  margin-left:55px;
  position:absolute;
  z-index:1;
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg); 
  transform: rotate(-90deg);
}

#painyhair1 {
  background:#3CB371;
  border-top:1px solid #2E8B57;
  width:190px;
  height:180px;
  border-radius: 80px;   
  position:absolute;
  margin-left:-10px;
  z-index:1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
}

#painyhair2 {
  background:#3CB371;
  width:260px;
  height:170px;
  border-radius: 100px;   
  position:absolute;
  margin-left:-46px;
  margin-top:-60px;
  z-index:0;
  -webkit-clip-path: polygon(23% 48%, 76% 48%, 100% 100%, 0% 100%);
 clip-path: polygon(23% 48%, 76% 48%, 100% 100%, 0% 100%);
 border:1px solid #2E8B57;
}

#painyhair3 {
  background:#3CB371;
  width:60px;
  height:10px;
  border-radius: 100px;   
  position:absolute;
  margin-top:60px;
  margi-left:-10px;
  z-index:1;
  -webkit-clip-path: polygon(3% 0%, 18% 99%, 34% 0%, 44% 100%, 57% 0%, 65% 100%, 77% 0%, 85% 100%, 98% 0%);
 clip-path: polygon(3% 0%, 18% 99%, 34% 0%, 44% 100%, 57% 0%, 65% 100%, 77% 0%, 85% 100%, 98% 0%);
}
#painyhair4 {
  background:#3CB371;
  width:60px;
  height:10px;
  border-radius: 100px;   
  position:absolute;
  margin-top:60px;
  margin-left:70px;
  z-index:1;
  -webkit-clip-path: polygon(3% 0%, 18% 99%, 34% 0%, 44% 100%, 57% 0%, 65% 100%, 77% 0%, 85% 100%, 98% 0%);
 clip-path: polygon(3% 0%, 18% 99%, 34% 0%, 44% 100%, 57% 0%, 65% 100%, 77% 0%, 85% 100%, 98% 0%);
}

